---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Inicio">
	<main>
		<h1>Titulo</h1>
		<p>Acceso Exitoso!</p>
		<form action="/api/logout">
			<button type="submit">Logout</button>
		</form>
	</main>
</Layout>